<footer class="site-footer">
  <div class="wrapper">
    <!-- hypercomments -->

    <!-- hypercomments -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <h2 class="footer-heading">Математика 2019</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        <p class="text">
          Открытый проект! Исходные коды хранятся на <a href="https://bitbucket.org/matematika/matematika.org"
            rel="nofollow">bitbucket</a>.<br />
          При желании их можно перенести на github (Это если кто-то реально захочет заняться (просто мои аккаунты там
          побанили немного)).

          <br /><br />

          <strong>
            Если есть способности к математике, можете поучавствовать в
            разработке и наполнении сайта на общественных началах или просто
            добавить свои знания, если будет такое желание!

            <br /><br />

            Администратор сайта планирует изучать материалы и записывать полезные данные сюда. Могу предложить делать
            тоже самое тем, кому это может быть интересным.
          </strong>

          <br />

          Группа в телеграм: matematika_org
        </p>
      </div>
    </div>
  </div>
</footer>